.App {
  text-align: center;
}

.prodetails {
  margin-top: 20px;
  padding: 30px 60px;
}

.single-pro-image {
  display: inline;
  margin-right: 50px;
}

.searchbox {
  width: 350px;
  padding: 5px 30px;
  outline: none;
  border-radius: 50px;
  text-align: center;
  border: 2px solid rgb(55, 108, 231);
}
